.Land {
  background-image: url("/103709070515.jpg");
  background-size: cover; /* أو contain */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  h2 {
    font-size: 15rem;
    text-align: center;
    color: #38bdf8;
  }
}
