.Navbar {
  height: 100px;
  padding: 0 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  background: #0e1417;
  position: fixed;
  width: 100%;
  z-index: 100;

  .wrapper {
    padding: 0 20px;
    max-width: 1366px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    h2 {
      margin-left: 50px;
      font-size: 2rem;

      @media (max-width: 768px) {
        margin-left: 70px;
        font-size: 1.3rem;
        margin-left: 10px;
      }
      @media (max-width: 480px) {
        font-size: 1.1rem;
      }
    }
  }

  .NavbarSocial {
    display: flex;
    gap: 1.2rem;

    i {
      font-size: 1.5rem;
      color: #e5f6ff;
      cursor: pointer;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: #fff;
        transform: scale(1.2);
      }
    }

    @media (max-width: 768px) {
      gap: 0.8rem;

      i {
        font-size: 1.2rem;
      }
    }

    @media (max-width: 480px) {
      gap: 0.6rem;

      i {
        font-size: 1rem;
      }
    }
  }
}
